.managers-list-container :not(.title-container) {
    padding: 1rem;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: black;
}

.title {
    letter-spacing: -2px;
    font-size: 2.1rem;
    font-weight: 300;
}

.button {
    display: grid;
    place-items: center;
}