table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    background: transparent;
}

th {
    border-radius: 5px;
}

td {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    padding-block: 1rem;
    border-bottom: 1px solid rgb(255, 255, 255);
}

button {
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    opacity: 0.8;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}

.headers{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* width: 75%; */
    margin-right: 8px;
    display: grid;
    place-content: center;
    background-color: rgba(180, 73, 223, 0.8);
    color: white;
    text-align: center;
    font-weight: 400;
    padding: 8px;
    border-radius: 5px;
}

th:last-child .headers {
    margin-right: 0;
    margin-left: 2px;
}
