<app-modal [title]="'Confirm Action'" [description]="'Are you sure you want to proceed?'" [isVisible]="activateModal"
    (accept)="activateModal = false; deleteUser()" (cancel)="activateModal = false"></app-modal>
<div class="table">
    <table>
        <thead>
            <tr>
                <th><div class="headers">Name</div></th>
                <th><div class="headers">Email</div></th>
                <th><div class="headers">Company</div></th>
                <th><div class="headers">WhatsApp</div></th>
                <th><div class="headers">Created At</div></th>
                <th><div class="headers">Options</div></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.name | shortenName}}</td>
                <td>{{ user.email || '-' }}</td>
                <td>{{ user.company }}</td>
                <td>+{{ user.lada }} {{ user.telephone | phoneFormat}}</td>
                <td>{{ user.createdAt }}</td>
                <td class="button">
                    <app-button 
                        [dataButton]="{'buttonType': ButtonType['EDIT']}"
                        [navigateTo]="'/manager-management'" 
                        [queryParams]="{ 
                            user: (user | json | base64Encode) 
                        }"
                    >
                    </app-button>
                    <app-button [dataButton]="{'buttonType': ButtonType['DELETE']}"
                        (click)="preConfirmDeleteUser(user.id!)">
                    </app-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>