table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 4px 0;
    text-align: left;
}

th,
td {
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    padding: 8px;
}

th {
    background: rgba(180, 73, 223, 0.8);
    color: white;
    text-align: center;
    font-weight: 400;
    border-radius: 5px;
}

td {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    padding-block: 1rem;
    border-bottom: 1px solid rgb(255, 255, 255);
}

tr {
    background-color: rgb(18, 16, 16);
}

button {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    opacity: 0.8;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}