<div class="table">
    <table>
        <thead>
            <tr>
                <th><div class="headers">Name</div></th>
                <th><div class="headers">Email</div></th>
                <th><div class="headers">Company</div></th>
                <th><div class="headers">WhatsApp</div></th>
                <th><div class="headers">Created At</div></th>
                <th><div class="headers">Options</div></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.name }}</td>
                <td>{{ user.email || '-' }}</td>
                <td>{{ user.company }}</td>
                <td>{{ user.whatsapp }}</td>
                <td>{{ user.createdAt }}</td>
                <td class="button">
                    <app-button 
                        [dataButton]="{'buttonType': ButtonType['EDIT']}"
                        [navigateTo]="'/manager-management'" 
                        [queryParams]="{ 
                            user: (user | json | base64Encode) 
                        }"
                    >
                    </app-button>
                    <app-button [dataButton]="{'buttonType': ButtonType['DELETE']}"
                        (click)="deleteUser(user.id)">
                    </app-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>